
@{
    ViewBag.Title = "AboutUs";
}

<h2 class="majorHeading" align="center">About Us</h2>
<br />
<div class="container-fluid">
    <div class="row" align="center">
        <div class="col-sm-6">
            <div class="panel">
                <div class="minorHeading">Sneha S.</div>
                <p class="generalTextBlack"> Sneha is a rising senior attending Brookfield Central. She likes to play the piano, read, write, paint, and bake scones in her free time. Her favorite part of Code the Way is website designing, as she is a self-proclaimed color palette expert.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="minorHeading"> Grant F.</div>
                <p class="generalTextBlack"> Grant is a rising junior at New Berlin West. He enjoys playing the piano and his favorite part of Code the Way is learning the new programming languages.</p>
            </div>
        </div>
    </div>
</div>

<br />
<div class="container-fluid">
    <div class="row" align="center">
        <div class="col-sm-6">
            <div class="panel">
                <div class="minorHeading"> Preston T. </div>
                <p class="generalTextBlack"> Preston is a rising junior at Brookfield Central. Some of his hobbies include playing tennis, golf, trumpet, guitar, and piano. He also does FTC Robotics, Key Club, and Jazz Band during the school year. His favorite part of Code the Way is the hands on learning aspect.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="minorHeading"> Vaishnavi M.</div>
                <p class="generalTextBlack"> Vaishnavi is an incoming freshman at UW-Milwaukee, and has been involved in Key Club, DECA, and Physics Olympiad. Her favorite part of Code the Way is the hands-on nature of the experience, as well as the learning opportunities offered.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row" align="center">
        <div class="col-sm-6">
            <div class="panel">
                <div class="minorHeading"> Akash M.</div>
                <p class="generalTextBlack"> Akash is a rising sophomore at Brookfield East. He likes to play piano in his free time, and is part of the Debate, Robotics, and Congress clubs. He finds Code the Way enjoyable because the instructors take a very hands on approach when teaching concepts, and it feels rewarding.</p>
            </div>
        </div>
    </div>
</div>
