<html>
<label for="SortingOptions">Select:</label>

<select name="cars" id="cars">
    <option value="volvo">Materials(a-z)</option>
    <option value="saab">Location(a-z)</option>
    <option value="mercedes">Contents(a-z)</option>
    <option value="audi">Weight(low to high)</option>
    <option value="audi">Weight(high to low)</option>
</select>
</html>
